<f:if condition="{data.1}">
    <f:then>
        <f:switch expression="{settings.recordMode}">
            <f:case value="speedrun">
                <h2>
                    <f:translate key="recordHeader.speedrun.title" />
                </h2>
                <h4>
                    <f:translate key="recordHeader.speedrun.subTitle" />
                </h4>
            </f:case>
            <f:case value="highscore">
                <h2>
                    <f:translate key="recordHeader.highscore.title" />
                </h2>
                <h4>
                    <f:translate key="recordHeader.highscore.subTitle" />
                </h4>
            </f:case>
            <f:defaultCase>
                <h2>
                    <f:translate key="recordHeader.default.title" />
                </h2>
                <h4>
                    <f:translate key="recordHeader.default.subTitle" />
                </h4>
            </f:defaultCase>
        </f:switch>
    </f:then>
    <f:else>
        <f:if condition="{data.0}">
            <h2>{data.0.playerDisplayName}</h2>
            <h4>{data.0.gameTitle} - {data.0.levelTitle}, {data.0.difficultyTitle}</h4>
        </f:if>
    </f:else>
</f:if>