<div class="container">

    <div class="row mb-3">
        <div class="col-md-12">
            <f:render partial="Record/Header" arguments="{data: data.record}" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <f:render partial="Record/Table" arguments="{data: data.record, view: view.record}" />
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12">
            <f:render partial="Record/Picture" arguments="{data: data.recordpicture}" />
        </div>
    </div>

</div>